header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        display: flex;
        align-items: center;
        font-size: 4rem;
        font-weight: 800;
        text-decoration: none;
        color: transparent;
        background: linear-gradient(145deg, #cc0000, #8b0000);
        -webkit-background-clip: text;
        background-clip: text;
        position: relative;
      
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
        .fa-youtube {
            margin-right: 0.6rem;
            font-size: 3rem;
            color: #e60000;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
            animation: bounce 2s infinite ease-in-out;
          }
        
          .logo__text {
            font-size: 2.8rem;
            font-weight: 800;
            color: #e60000; 
            text-shadow: 1px 1px 0 #000000, 2px 2px 3px rgba(0, 0, 0, 0.3); // 입체감
            margin-left: 1rem;
            transition: transform 0.3s ease, text-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05) rotate(-1deg);
                text-shadow: 1px 1px 0 #fc7f7f, 3px 3px 5px rgba(0, 0, 0, 0.4); // 더 강한 입체감
            }
          }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            margin-left: 30px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        i {
            font-size: 16px;
        }
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header_avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }

  .header__nav-link {
    font-size: 1.2rem; 
    font-weight: 600;
    color: #ffffff;
    padding: 0.5rem 0.8rem;
    transition: color 0.2s ease, transform 0.2s ease;
  
    &:hover {
      color: #cc0000;
      transform: scale(1.05);
    }
  }