.header__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.search__wrapper {
    display: flex;
    align-items: center;
}

.search__form {
    display: flex;
    align-items: center;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition:
        max-width 0.4s ease,
        opacity 0.3s ease,
        padding 0.4s ease,
        border-color 0.4s ease;

    input {
        border: none;
        outline: none;
        padding: 5px 10px;
        font-size: 14px;
        width: 240px;
    }
}

.search__form.show {
    max-width: 300px;
    opacity: 1;
    padding: 4px 10px;
    border-color: #ccc;
    margin-left: 10px;
}

.search-toggle {
    cursor: pointer;
    font-size: 16px;
}
