.search__form {
    position: absolute;
    width: 800px;
    top: 0;
    left: 41%;
    transform: translate(-50%, -100%); 
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    z-index: 2000;
    transition: transform 0.4s ease, opacity 0.4s ease;
    max-width: none;
    input {
      border: none;
      outline: none;
      padding: 5px 10px;
      font-size: 14px;
    }
  
    button {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
  
  .search__form.show {
    transform: translate(-50%, 20px); 
    opacity: 1;
  }