extends base
include mixins/video

block header 
    nav     
        ul  
            li 
                a(href="/videos/upload") Upload A Video

block content  
    each info in videos 
        +video(info)
    else 
        li Sorry Nothing FOUND
