extends ../base

block content
    .video__edit-form
        .video__form-header
            h2.form-title Change Password
        if errorMessage 
            span.error-message= errorMessage
        form(method='POST', class='video-edit-form')
            .form-group
                label(for="oldPassword") Old Password
                input(type="password", name="oldPassword", id="oldPassword", placeholder="Enter your old password", required)
            .form-group
                label(for="newPassword") New Password
                input(type="password", name="newPassword", id="newPassword", placeholder="Enter your new password", required)
            .form-group
                label(for="newPasswordConfirmation") Confirm New Password
                input(type="password", name="newPasswordConfirmation", id="newPasswordConfirmation", placeholder="Confirm new password", required)
            .form-group
                input(type="submit", value="Change Password", id="edit-btn")