extends ../base

block content
    .video__edit-form
        .video__form-header
            h2.form-title Edit Profile
        form(method="POST", enctype="multipart/form-data" class="video-edit-form")
            .form-group
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar", accept="image/*")
            .form-group
                label(for="name") Name
                input(type="text", id="name", name="name", value=loggedInUser.name, required)
            .form-group
                label(for="email") Email
                input(type="email", id="email", name="email", value=loggedInUser.email, required)
            .form-group
                label(for="username") Username
                input(type="text", id="username", name="username", value=loggedInUser.username, required)
            .form-group
                label(for="location") Location
                input(type="text", id="location", name="location", value=loggedInUser.location, required)
            .form-group
                input(type="submit", value="Update Profile", id="edit-btn")

                if !loggedInUser.socialOnly
                    a(href="/users/change-password" class="change-password-btn") Change Password